# 1. Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

In [2]:
switch = True

if switch: # TRUE CONDITION 
print("power button on") # statements not alligned properly will give indentation error
else:
    print("power button off")

IndentationError: expected an indented block (3033405874.py, line 4)

In [7]:
#name error because print must lower case
Print("well come to python world")

NameError: name 'Print' is not defined

In [9]:
#syntax error 
print "hello hi"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("hello hi")? (2047712733.py, line 2)

In [13]:
" " + .2

TypeError: can only concatenate str (not "float") to str

# 2.	Take input A and B and print their sum, mul, div, square of the nos.

In [16]:
A=5
B=2.5
#sum
A+B

7.5

In [17]:
#mul
A*B

12.5

In [18]:
#div
A/B

2.0

In [22]:
#square of the number
A =5
B=5
sqr = A * B

print(sqr)

25

# 3.	How many reserve keywords are there in python and why we should not use them as a variable name.

 "and", "class",  "del", "elif", "else", "if", "import",  "is",  "not", "or",  "print",  "return", "try",.

# 4.	Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

In [23]:
lastname=input("enter lastname")
firstname=input("enter firstname")
print(f"{lastname}.{firstname}@gmail.com")

enter lastnamereddy
enter firstnameramu
reddy.ramu@gmail.com

# 5.	Try to print the following lines - 
o	Hi I'm Sunny
o	My address is 22\3
o	I earn 20$ daily.

In [25]:
name,address,amount="ramu","ABCD","20$"
print(f"""
Hi I'm :{name}
my address is: {address}
I earn: {amount} daily
""")

Hi I'm :ramu
my address is: ABCD
I earn: 20$ daily

# 6.	Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [28]:
Name = input("name: ") 
Address = input("address ")
Date_of_birth = input("date_of_birth: ") 


print(f"""
My name is: {Name}
I live at: {Address}
MY Date_of_birth: {Date_of_birth}
""")
email=input("enter email id:")
print(f"this is my email:{email}")# f -> formatted string method

name: ramu
address abcd
date_of_birth: 2008

My name is: ramu
I live at: abcd
MY Date_of_birth: 2008

enter email id:ramu@gmail.com
this is my email:ramu@gmail.com

# 7.	Convert the following -
o	"22.4" into integer
o	"22" into complex no.

In [33]:
cible_score  = 50.22
print(f"data type before: {type(cible_score)}, value of cible score: {cible_score}")#float 
score = int(cible_score)
print(f"data type after: {type(score)}, value of A: {score}")#integer

data type before: <class 'float'>, value of cible score: 50.22
data type after: <class 'int'>, value of A: 50

In [35]:
p = 5
print(f"data type before: {type(p)}, value of A: {p}")
Q = complex(p)
print(f"data type after: {type(Q)}, value of A: {Q}")

data type before: <class 'int'>, value of A: 5
data type after: <class 'complex'>, value of A: (5+0j)